<h1>Editing Technician</h1>

<%= render 'form', technician: @technician %>

<<<<<<< HEAD
<%= link_to 'Show', @technician, class: 'btn btn-primary' %> |
<%= link_to 'Back', technicians_path, class: 'btn btn-warning' %>
=======
<%= link_to 'Show', @technician %> |
<%= link_to 'Back', technicians_path %>
>>>>>>> feature/2019-11-1/add_time_to_calendar_view
