<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @technician.name %>
</p>

<<<<<<< HEAD
<%= link_to 'Edit', edit_technician_path(@technician), class: 'btn btn-primary' %> |
<%= link_to 'Back', technicians_path, class: 'btn btn-warning' %>
=======
<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', technicians_path %>
>>>>>>> feature/2019-11-1/add_time_to_calendar_view
