<%= simple_form_for @work_order, remote: true do |f| %>
  <div class="form-inputs">
    <% if work_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_order.errors.count, "error") %> prohibited this work_order from being saved:</h2>
      <ul>
      <% work_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :technician_id, as: :integer %>
    <%= f.input :location_id, as: :integer %>
    <%= f.input :price, as: :integer %>
    <%= f.input :duration, as: :integer %>
    <%= f.input_field :start_time, as: :date, html5: true, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end_time, as: :date, html5: true, class: 'form-control input-sm end_hidden' %>
    <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
