<%= simple_form_for @work_order, remote: true do |f| %>
  <div class="form-inputs">
    <% if work_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_order.errors.count, "error") %> prohibited this work_order from being saved:</h2>
      <ul>
      <% work_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :technician_id, as: :integer %>
    <%= f.input :location_id, as: :integer %>
    <%= f.input :price, as: :integer %>
    <%= f.input :duration, as: :integer %>

    <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
        <%= f.input :start_time, class: 'form-control' %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <div class='input-group date' id='datetimepicker2'>
    <input type='text' class="form-control" />
    <%= f.input :end_time, class: 'form-control' %>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
    </div>


    <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

    <script type="text/javascript">
    $(function () {
    $('#datetimepicker1').datetimepicker({ locale: false});
    });
        $(function () {
    $('#datetimepicker2').datetimepicker();
    });
    </script>
