<p id="notice"><%= notice %></p>

<h1>Work Orders</h1>

<table>
  <thead>
    <tr>
      <th>Technician</th>
      <th>Location</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Duration</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= work_order.technician_id %></td>
        <td><%= work_order.location_id %></td>
        <td><%= work_order.start_time %></td>
        <td><%= work_order.end_time %></td>
        <td><%= work_order.duration %></td>
        <td><%= work_order.price %></td>
        <td><%= link_to 'Show', work_order %></td>
        
        <td><%= link_to 'Destroy', work_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="calendar"></div>

