<p id="notice"><%= notice %></p>

<p>
  <strong>Technician:</strong>
  <%= @work_order.technician_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @work_order.location_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @work_order.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work_order.end_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @work_order.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @work_order.price %>
</p>

<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
